
.container {
    font-family: cursive;
    margin-top: 100px;
    margin-bottom: 300px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
#hh{
    padding-top: 50px;
    font-family: cursive;
}
#color{
    font-size: 22px;  
}
#para{
    padding-top: 40px;
    font-size: 20px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 100px;
}
.vehicle {
    width: 50%;
    height: auto;
    border-radius: 8px;
}

.color-selection {
    margin: 15px 0;
}
.color-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    margin: 0 5px;
    cursor: pointer;
    outline: none;
}
.red { background-color: red; }
.blue { background-color: blue; }
.black { background-color: black; }
.details {
    margin: 20px 0;
}
.buy {
    width: 15%;
    margin-top: 40px;
    padding: 10px;
    background-color: rgb(3, 117, 248);
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.buy:hover {
    background-color: #373839;
}
.prebook1{
    text-decoration: none;
}
#table {
    width: 70%;
    border-collapse: collapse;
    margin-left: 15%;
  }
  table, th, td {
    border: 1px solid #d3cece;
  }
  th, td {
    padding: 10px;
    text-align: left;
  }
  #th {
    background-color: #a9a8a8;
  }