.navbar-brand{
    margin-left: 35px;
    margin-top: -20px;
    margin-bottom: -10px;
    }
    #logo{
        margin-left: 120px;
        margin-top: -70px;
        font-family: 'poppins';
       }
    .navbar{
        background-color: rgb(29, 28, 28);
    }
  #link{
    color: aliceblue;
    text-decoration: none;
   font-family:cursive;
   font-size: 25px;
  }